@font-face {
	font-family: 'fontello';
	src: url('font/fontello.woff?40425157') format('woff');
	font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before 
{
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin-left: .2em;
}
 
.icon-music:before { content: '\e800'; }
.icon-volume-up:before { content: '\e801'; }
.icon-volume-down:before { content: '\e802'; }
.icon-volume-off:before { content: '\e803'; }
.icon-play:before { content: '\e804'; }
.icon-pause:before { content: '\e805'; }
*{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
body
{
	margin: 0;
	padding: 0;
	background: rgb(160, 160, 160);
	background: -moz-linear-gradient(90deg, rgb(160, 160, 160) 0%, rgb(90, 96, 96) 100%);
	background: -webkit-linear-gradient(90deg, rgb(160, 160, 160) 0%, rgb(90, 96, 96) 100%);
	background: -o-linear-gradient(90deg, rgb(160, 160, 160) 0%, rgb(90, 96, 96) 100%);
	background: -ms-linear-gradient(90deg, rgb(160, 160, 160) 0%, rgb(90, 96, 96) 100%);
	background: linear-gradient(180deg, rgb(160, 160, 160) 0%, rgb(90, 96, 96) 100%);}
.container
{
	position: relative;
	width: 300px;
	height: 55px;
}
.container .btn
{
	width: 50px;
	height: 50px;
	border: none;
	position: absolute;
	right: 1px;
	top:1px;
	background: #a60;
	cursor: pointer;
	-webkit-border-radius: 3px;
	color: rgb(230, 230, 230);
	text-shadow: 0px -1px 0px rgba(30, 30, 30, 0.8);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: rgb(25, 20, 20);
	background: -moz-linear-gradient(90deg, rgb(25, 20, 20) 30%, rgb(147, 147, 147) 70%);
	background: -webkit-linear-gradient(90deg, rgb(25, 20, 20) 30%, rgb(147, 147, 147) 70%);
	background: -o-linear-gradient(90deg, rgb(25, 20, 20) 30%, rgb(147, 147, 147) 70%);
	background: -ms-linear-gradient(90deg, rgb(25, 20, 20) 30%, rgb(147, 147, 147) 70%);
	background: linear-gradient(0deg, rgb(25, 20, 20) 30%, rgb(147, 147, 147) 70%);
	-webkit-box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 2px 1px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 2px 1px rgba(50, 50, 50, 0.75);
}
.container .track-name
{
	line-height: 40px;
	height: 50px;
	position: absolute;
	left: 5px;
	top: 0px;
	width: 250px;
	color: orange;
	font-size: 10px;
	font-weight: bold;
	overflow: hidden;
}
.container .btn-volume
{
	position: absolute;
	left: 140px;
	top: 35px;
	color: #ccc;
	cursor: pointer;
}

.container .volume-bar
{
	left: 165px;
	top:38px;
	position: absolute;
	width: 70px;
	height: 10px;
	border: silver solid 1px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	background: black;
	cursor: pointer;
}
.container .volume-bar .progress
{
	background: #ccc;
	height: 10px;
	width: 50%;
}
